:root {
    --nbg1: #3D1C51; /* dark-purple */
    --blackish: burlywood;
    --whitish: cornsilk;
    --choco: #532E00;
    --choco2: #A0522D;
    --error: #b94a48;
}

.row {
    background: var(--whitish);
}

.navbar-fixed-top, .navbar-fixed-bottom {
    border: 0px
}

#sidemenucol {
    background: var(--choco);
    height:100vh;
    text-align:center;
}
.sidemenuitems {
list-style:none;
}

.sidemenuitems li a img{
    width:5vw;
}

.sidemenuitems li:hover{
    transform:scale(1.2);
}

.sidemenuitems li{
    background: var(--whitish);
    border-radius:50%;
    padding:5%;
    margin:15%;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: var(--error);
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid var(--error);
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: var(--error);
}

.validation-summary-valid {
    display: none;
}

.barstyle {
    background: transparent;
    background-image: url("../bg/float.svg");
    background-repeat: repeat-x;
    padding-bottom: 10vh;
}

.sticky-title {
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    color: var(--whitish) !important;
    text-shadow: 1px 2px #000;
    margin-bottom: 2px;
    margin-right: 2px;
}

.sticky-title img {
    width: 50px;
    filter: drop-shadow(3px 3px 2px rgb(255 255 255));
}

.sticky-menu li a {
    text-decoration: none;
    color: var(--whitish) !important;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
}

.sticky-menu li a span {
    color: #000;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 1.5rem;
}


.sticky-menu li {
    border: 1px solid cornsilk;
    border-radius: 5px;
    margin-right: 1px;
    margin-bottom: 2px;
    padding: 1px;
    
}

.sticky-menu li:hover {
    box-shadow: 2px 2px 4px #000;
    z-index: 8;
}
#topmargin {
    margin-top: 10%;
    width:100%;
    height:30px;
    border-bottom: 1px solid var(--error);
}

#cursorText {
    font-size: 3.5rem;
    width: max-content;
    border-right: 2px solid #000;
    animation: blinker 2s linear forwards infinite;
}


.full-page {
    height: 100vh;
}

@keyframes blinker {
    0% {
        border-color: #000;
    }

    20% {
        border-color: transparent;
    }

    40% {
        border-color: #000;
    }

    60% {
        border-color: transparent;
    }

    80% {
        border-color: #000;
    }

    100% {
        border-color: #000;
    }
}

#intro {
    margin-top: 20px;
    list-style: none;
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
    text-indent:inherit;
    z-index: 3;
}

#intro span {
    color: var(--nbg1);
    font-weight: bold;
    text-decoration: underline;
}

#intro li {
    margin-bottom: 50px;
}

.lastrow{
    margin-top: 20vh;
}

.jumbotron h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 4rem;
}

.jumbotron {
    background: var(--blackish);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@font-face {
    font-family: Laziness;
    src: url(Laziness.otf);
}

.jumbotron p {
    font-family: Laziness;
    font-size: 5rem;
}


#goodies {
    width: 95%;
    text-align: center;
    font-family: 'Pacifico', cursive;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}

#downloadresume a {
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    color: var(--blackish) !important;
    text-shadow: 2px 2px #000;
}

#downloadresume {
    text-align: center;
    margin-bottom: 2vh;
    background: var(--choco);
    padding: 2%;
    border-radius: 10px;
}

#downloadresume:hover {
    background: var(--choco2) !important;
}

#profileimg {
    display: block;
    width: 15vw;
    border-radius: 50%;
}

.social_icons img {
    width: 5vw;
    margin-bottom: 10vh;
}

.social_icons:hover img {
    transform: scale(1.2);
}
footer {
    float: right;
}

a{
    text-decoration: none;
}

.card img{
    -webkit-filter: drop-shadow(4px 8px 2px rgba(0,0,0,0.2));
    filter: drop-shadow(4px 8px 2px rgba(0,0,0,0.2));
    transition: 0.3s;
}

.card:hover img {
    transform: scale(1.5);
    -webkit-filter: drop-shadow(8px 10px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(8px 10px 4px rgba(0,0,0,0.2))
}

.card ~ p {
    opacity: 0;
    border-radius:10px;
    border: 2px solid var(--choco);
    padding:5px;
    margin:5px;
}

.card:hover ~ p {
    opacity: 1;
}

.container {
    padding: 2px 16px;
}

.card img{
    padding: 10%;
}
.card .container h4 {
    font-family: 'Comfortaa', cursive;
    font-size: 3rem;
}

.card .container p {
    text-decoration: none;
    color: var(--blackish);
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    opacity:0;
}
.card:hover .container p {
    opacity: 1;
}

    @media (max-width: 768px) {
        #menu_area {
            background: linear-gradient(to bottom right, var(--choco), var(--choco2));
            padding: 10%;
        }
    }

    @media (max-width: 1205px) {
        #logoname {
            display: none;
        }
    }

    .navbar-header, .navbar-header:before, .navbar-header:after {
border:0px !important;
}

.word_container {
    padding: 5px;
    width: 80%;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    margin-bottom: 10vh;
    min-height:30vh;
}

.wordperday {
    padding: 5px;
    width: 80%;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}
.deck {
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
    background: #eeeeee;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.eagerbelow {
    background: var(--choco);
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Laziness, cursive;
    color: var(--whitish);
    border-radius: 5px;
    font-size: 2rem;
    transition: width 2s;
    text-align: center;
}

#sb {
    padding: 2px;
    width: 40px;
    border: none;
}

#sb:hover {
    transform:scale(1.2);
}

input {
    border: none;
    padding: 3px;
    font-family: Handlee;
    border-radius: 0.4rem;
    width:100%;
}

input::placeholder {
    color: #B0BEC5;
}

#title_word {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.95);
    cursor: pointer;
}

#explaination ol li, #explaination ol li ol li{
    text-align: left;
}

#joke_word {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.95);
    cursor: pointer;
}

#jokeexplaination {
    border: 2px solid var(--choco);
    color: var(--choco);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    transition: all .5s ease-in;
}

#joke_word:hover ~ #jokeexplaination {
    background: var(--choco);
    color: var(--whitish);
    font-size:1.5rem;
}

    /*
list-style:none;
list-style-type: none;
    linear-gradient(FloralWhite, transparent);
*/
    #explaination ol, #explaination ol li ol {
        padding: 0;
        list-style-type: none;
    }

.googlechart {
    width:90%;
}

.googlechart svg{
    width: 100%;
}

.disabled_a{
    pointer-events: none;
    color: #ccc;
}


.chapter_content {
    padding: 2%;
    margin: 2%;
    border: 2px solid var(--choco);
    border-radius: 10px;
}

    .chapter_content h3 {
        font-family: 'Caveat', cursive;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        border-bottom: 2px solid var(--choco);
    }

    .chapter_content p, .cmd_params li {
        font-family: 'Comfortaa', cursive;
        font-size: 1.2rem;
    }

    .chapter_content h4, .chapter_content p, .chapter_content i{
        font-family: 'Handlee', cursive;
        font-size: 1.5rem;
    }

.chapter_content i {
    float:right;
}

.code_explanation{
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    background: var(--blackish);
    color: var(--choco);
    text-align: center;
    font-weight: bold;
    padding: 2%;
    border-radius: 5px;
}

.chapter_content pre code {
    font-family: Ubuntu, monospace;
    font-size: 1.5rem;
    color:var(--choco);
    cursor:pointer;
}

.cmd_params li span {
    font-size: 1.3rem;
    font-weight:bold;
    margin-right: 5px;
}

.scrollarea {
    height: 100vh;
    overflow-y: auto;
}

#jaas-container{
    height: 600px;
}

.course_icon .card-title{
    font-family: 'Comfortaa', cursive;
    background: var(--choco);
    color: var(--whitish);
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
}

.course_icon .card{
    width: 100%;
    padding: 2%;
}

.course_icon .card-img-top{
    margin: auto;
    display: block;
}

.course_icon .card-text{
    font-family: 'Handlee', cursive;
    color: var(--choco);
    font-size: 1.4rem;
}
