{% extends "layout.html" %}

{% block content %}
<div id="topmargin"></div>

<div class="row">
    <div class="col-lg-12">
        <div id="cursorText">🙏 Hello</div>
        <ul id="intro">
            <li>I'm <span>Venkata Santosh</span><br></li>
            <li>
                <div>
                    <center>
                        <img alt="me" id="profileimg" src="static/bg/me.png"/>
                        <span>Automation Specialist and Software Engineer [Total Experience: <span id="tot_exp"></span>]</span>
                    </center>
                </div>
            </li>
            <li>
                Experienced in leveraging Python for automation, embedded systems, and machine learning across Finance,
                Medical, Defense,
                and IoT sectors. Successfully automated 15+ projects using <span>Python</span>, Robot Framework, Linux,
                and databases (Azure Cosmos,
                SQL DB, Oracle DB, and Databricks). Proficient in CI-CD pipelines and team leadership. Strong background
                in problem-solving,
                data structures, and algorithms, with a deep understanding of <span>data analysis techniques</span> and
                Python development for robust
                application solutions.
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="googlechart" id="expchart"></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="googlechart" id="skchart"></div>
    </div>
</div>

<div class="row lastrow">
    <div class="col-md-7">
        <div class="row">
            <div class="col-xs-3">
                <a class="social_icons" target="_blank" href='https://wa.me/917485929752?text=Lets%20Connect%20@%20pynfinity'><img
                        alt="whatsapp" src="static/bg/whtsapp.svg" width="30%"/></a>
            </div>
            <div class="col-xs-3">
                <a class="social_icons" target="_blank" href='https://www.linkedin.com/in/santoshtvk/'><img alt="linkedin" src="static/bg/linkedin.svg"
                                                                                            width="30%"/></a>
            </div>
            <div class="col-xs-3">
                <a class="social_icons" target="_blank" href='https://twitter.com/santoshtvk'><img alt="twitter" src="static/bg/twitter.svg"
                                                                                   width="30%"/></a>
            </div>
            <div class="col-xs-3">
                <a class="social_icons" target="_blank" href='https://www.instagram.com/santoshtvk/'><img alt="instagram" src="static/bg/insta.svg"
                                                                                          width="30%"/></a>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div id="downloadresume">
            <a href='http://pynfinity.com/resume.pdf' rel="noopener noreferrer" target="_blank">
                📜 Download My Resume 📜
            </a>
        </div>
    </div>
</div>

<!--
    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>
-->
{% endblock %}
