{% extends "layout.html" %}

{% block content %}
<div id="topmargin"></div>
<div class="row">
    <div class="col-md-7" style="border-right:2px solid #000000">
        <div id="cursorText">🙏 Hello</div>
        <ul id="intro">
            <li>I'm <span>Venkata Santosh</span><br></li>
            <li>
                Python Automation Engineer with expertise in Embedded and Machine Learning over <span>7+ Years</span> in Medical, Defence and IoT Domains.
            </li>
            <li>
                I have Automated over 10+ projects using Python, Robot Framework, Linux, Android and Databases such as Azure
                Cosmos and SQL DB.
                Additionally, gained significant experience in <span>CI-CD related projects</span> and proven ability to lead a
                team.
                Developed RTOS-based embedded C++ applications, and also gained solid knowledge in <span>Problem Solving</span>, and
                Data Structures & Algorithms.
            </li>
        </ul>
    </div>
    <div class="col-md-5">
        <div>
            <center>
                <img alt="me" id="profileimg" src="static/bg/me.png" />
                <div class="googlechart" id="expchart"></div>
                <br />
                <div class="googlechart" id="skchart"></div>
            </center>
        </div>
    </div>

</div>

<div class="row lastrow">
    <div class="col-md-7">
        <div class="row">
            <div class="col-xs-3">
                <a class="social_icons" href='https://wa.me/917485929752?text=Lets%20Connect%20@%20pynfinity'><img alt="whatsapp" width="30%" src="static/bg/whtsapp.svg" /></a>
            </div>
            <div class="col-xs-3">
                <a class="social_icons" href='https://www.linkedin.com/in/santoshtvk/'><img alt="linkedin" width="30%" src="static/bg/linkedin.svg" /></a>
            </div>
            <div class="col-xs-3">
                <a class="social_icons" href='https://twitter.com/santoshtvk'><img alt="twitter" width="30%" src="static/bg/twitter.svg" /></a>
            </div>
            <div class="col-xs-3">
                <a class="social_icons" href='https://www.instagram.com/santoshtvk/'><img alt="instagram" width="30%" src="static/bg/insta.svg" /></a>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div id="downloadresume">
            <a href='http://pynfinity.com/resume.pdf' target="_blank" rel="noopener noreferrer">
                📜 Download My Resume 📜
            </a>
        </div>
    </div>
</div>

<!--
    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>
-->
{% endblock %}
