{% extends "layout.html" %}

{% block content %}
<div id="topmargin"></div>
<h1>{{ title }}.</h1>

<p>[EDUCATIONAL AND PRACTISE PURPOSE]</p>
<p>Created an endpoint for Learning & Playing on FLASK-REST-API</p>
<h2>
    URL: https://pynfinity.com/</h2>
    <h3>USE Postman/Insomnia or any preferred IDE/language to HIT ENDPOINT: <strong>welcome/testapi/datatype/expected_status_code</strong></h3>

<br><br>
<p>HELPFUL REFERENCE in <a href="https://pynfinity.com/welcome/testapi/help">HELP_JSON</a></p>


<div class="api_play_section">
    <div class="api_play_method" onclick="toggleDetails('get')">GET Method</div>
    <div id="get" class="api_play_details">
        <p><strong>Endpoint:</strong> /welcome/testapi/&lt;datatype&gt;/&lt;status_code_expected&gt;</p>
        <p><strong>Datatypes:</strong> JSON, XML, TEXT</p>
        <p><strong>Examples:</strong></p>
        <ul>
            <li><a target="_blank" href="#">https://pynfinity.com/welcome/testapi/json</a></li>
            <li><a target="_blank" href="#">https://pynfinity.com/welcome/testapi/text/204</a></li>
            <li><a target="_blank" href="#">https://pynfinity.com/welcome/testapi/xml/400</a></li>
        </ul>
    </div>
</div>

<div class="api_play_section">
    <div class="api_play_method" onclick="toggleDetails('query')">GET Method with Query Params</div>
    <div id="query" class="api_play_details">
        <p><strong>Endpoint:</strong> /welcome/testapi/QP?key=value</p>
        <p><strong>Examples:</strong></p>
        <ul>
            <li><a target="_blank" href="#">https://pynfinity.com/welcome/testapi/QP?user=santosh</a></li>
            <li><a target="_blank" href="#">https://pynfinity.com/welcome/testapi/qp?user=&amp;age=</a></li>
        </ul>
    </div>
</div>


<div class="api_play_section">
    <div class="api_play_method" onclick="toggleDetails('put')">PUT Method</div>
    <div id="put" class="api_play_details">
        <p><strong>Endpoint:</strong> /welcome/testapi/&lt;icon-names&gt;/&lt;status_code_expected&gt;</p>
        <p><strong>Examples:</strong></p>
        <ul>
            <li><a target="_blank" href="#">https://pynfinity.com/welcome/testapi/cpp.svg</a></li>
            <li><a target="_blank" href="#">https://pynfinity.com/welcome/testapi/pandas</a></li>
        </ul>
        <p><strong>Payload:</strong> JSON data for unique identifier</p>
    </div>
</div>


<div class="api_play_section">
    <div class="api_play_method" onclick="toggleDetails('patch')">PATCH Method</div>
    <div id="patch" class="api_play_details">
        <p><strong>Endpoint:</strong> /welcome/testapi/&lt;icon-names&gt;/&lt;status_code_expected&gt;</p>
        <p><strong>Examples:</strong></p>
        <ul>
            <li><a target="_blank" href="#">https://pynfinity.com/welcome/testapi/cpp.svg</a></li>
            <li><a target="_blank" href="#">https://pynfinity.com/welcome/testapi/pandas</a></li>
        </ul>
        <p><strong>Payload:</strong> JSON data for unique identifier</p>
    </div>
</div>

<div class="api_play_section">
    <div class="api_play_method" onclick="toggleDetails('post')">POST Method</div>
    <div id="post" class="api_play_details">
        <p><strong>Endpoint:</strong> /welcome/testapi/post</p>
        <p><strong>Payload:</strong> JSON | At least empty brackets {} are required</p>
    </div>
</div>

<div class="api_play_section">
    <div class="api_play_method" onclick="toggleDetails('delete')">DELETE Method</div>
    <div id="delete" class="api_play_details">
        <p><strong>Endpoint:</strong> /welcome/testapi/&lt;icon-names&gt;/&lt;status_code_expected&gt;</p>
        <p><strong>Examples:</strong></p>
        <ul>
            <li><a target="_blank" href="#">https://pynfinity.com/welcome/testapi/cpp.svg</a></li>
            <li><a target="_blank" href="#">https://pynfinity.com/welcome/testapi/pandas</a></li>
            <li><a target="_blank" href="#">https://pynfinity.com/welcome/testapi/pandas/202</a></li>
        </ul>
    </div>
</div>


<div class="api_play_warning">⚠ Data beyond specified rules is ignored.</div>

{% endblock %}