{% extends "layout.html" %}

{% block content %}
<div id="topmargin"></div>
<h2>{{ title }}.</h2>




<div class="row">
    <div class="col-md-12">
        <div id="cursorText">🙏 Hello</div>
        <ul id="intro">
            <li><a href='mailto:developer@pynfinity.com?subject=LetsConnect'><span>✍️ <u>Please Write to me</u></span></a>
            </li>
        </ul>

        <blockquote>
            <strong>Official:</strong> <a href="mailto:developer@pynfinity.com">developer@pynfinity.com</a><br/>
            <strong>Personal:</strong> <a href="mailto:santoshtvk16@gmail.com">santoshtvk16@gmail.com</a>
        </blockquote>
    </div>
</div>

<div class="row lastrow">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-3">
                <a class="social_icons" href='https://wa.me/917485929752?text=Lets%20Connect%20@%20pynfinity'
                   target="_blank"><img
                        alt="whatsapp" src="static/bg/whtsapp.svg" width="30%"/></a>
            </div>
            <div class="col-md-3">
                <a class="social_icons" href='https://www.linkedin.com/in/santoshtvk/' target="_blank"><img
                        alt="linkedin" src="static/bg/linkedin.svg"
                        width="30%"/></a>
            </div>
            <div class="col-md-3">
                <a class="social_icons" href='https://twitter.com/santoshtvk' target="_blank"><img alt="twitter"
                                                                                                   src="static/bg/twitter.svg"
                                                                                                   width="30%"/></a>
            </div>
            <div class="col-md-3">
                <a class="social_icons" href='https://www.instagram.com/santoshtvk/' target="_blank"><img
                        alt="instagram" src="static/bg/insta.svg"
                        width="30%"/></a>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div id="downloadresume">
            <a href='http://pynfinity.com/resume.pdf' rel="noopener noreferrer" target="_blank">
                📜 Download My Resume 📜
            </a>
        </div>
    </div>
</div>


{% endblock %}
