{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="row">
    <div class="col-md-8">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=15yOJakPrEkr0l6-3baA_810m3w8CPgc&ehbc=2E312F" width="100%" height="480"></iframe>
    </div>
    <div class="col-md-4">

        <div id="cursorText">🙏 Hello</div>
        <ul id="intro">
            <li>Wish to Connect: <br> <a href='mailto:developer@pynfinity.com?subject=LetsConnect'><span>✍️ <u>Please Write to me</u></span></a></li>
        </ul>

        <blockquote>
            <strong>Official:</strong>   <a href="mailto:developer@pynfinity.com">developer@pynfinity.com</a><br />
            <strong>Personal:</strong> <a href="mailto:santoshtvk16@gmail.com">santoshtvk16@gmail.com</a>
        </blockquote>
    </div>
</div>

<div class="row lastrow">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-3">
                <a class="social_icons" href='https://wa.me/917485929752?text=Lets%20Connect%20@%20pynfinity'><img alt="whatsapp" width="30%" src="static/bg/whtsapp.svg" /></a>
            </div>
            <div class="col-md-3">
                <a class="social_icons" href='https://www.linkedin.com/in/santoshtvk/'><img alt="linkedin" width="30%" src="static/bg/linkedin.svg" /></a>
            </div>
            <div class="col-md-3">
                <a class="social_icons" href='https://twitter.com/santoshtvk'><img alt="twitter" width="30%" src="static/bg/twitter.svg" /></a>
            </div>
            <div class="col-md-3">
                <a class="social_icons" href='https://www.instagram.com/santoshtvk/'><img alt="instagram" width="30%" src="static/bg/insta.svg" /></a>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div id="downloadresume">
            <a href='http://pynfinity.com/resume.pdf' target="_blank" rel="noopener noreferrer">
                📜 Download My Resume 📜
            </a>
        </div>
    </div>
</div>


{% endblock %}
