{% extends "layout.html" %}

{% block content %}
<div id="topmargin"></div>
<h2>{{ title }}.</h2>

<div class="row">
    <h2>Let's schedule a Video call 🤙 and get to know each other! 🎵 🤝</h2>
    <h3>Invite Me!
            <a class="social_icons" href='https://wa.me/917485929752?text=Lets%20Connect%20@%20pynfinity'>Send invite by whatsapp: <img
                alt="whatsapp" width="30%" src="static/bg/whtsapp.svg"/></a>
    </h3>

    <div class="col-md-12">

        <div>
            <div id="jaas-container" style="pointer-events:none;"></div>
            <div id="meeting_overlay"></div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div id="cursorText">🙏 Hello</div>
        <ul id="intro">
            <li>Wish to Connect: <br> <a href='mailto:developer@pynfinity.com?subject=LetsConnect'><span>✍️ <u>Please Write to me</u></span></a>
            </li>
        </ul>

        <blockquote>
            <strong>Official:</strong> <a href="mailto:developer@pynfinity.com">developer@pynfinity.com</a><br/>
            <strong>Personal:</strong> <a href="mailto:santoshtvk16@gmail.com">santoshtvk16@gmail.com</a>
        </blockquote>
    </div>
</div>

<div class="row lastrow">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-3">
                <a class="social_icons" href='https://wa.me/917485929752?text=Lets%20Connect%20@%20pynfinity'><img
                        alt="whatsapp" width="30%" src="static/bg/whtsapp.svg"/></a>
            </div>
            <div class="col-md-3">
                <a class="social_icons" href='https://www.linkedin.com/in/santoshtvk/'><img alt="linkedin" width="30%"
                                                                                            src="static/bg/linkedin.svg"/></a>
            </div>
            <div class="col-md-3">
                <a class="social_icons" href='https://twitter.com/santoshtvk'><img alt="twitter" width="30%"
                                                                                   src="static/bg/twitter.svg"/></a>
            </div>
            <div class="col-md-3">
                <a class="social_icons" href='https://www.instagram.com/santoshtvk/'><img alt="instagram" width="30%"
                                                                                          src="static/bg/insta.svg"/></a>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div id="downloadresume">
            <a href='http://pynfinity.com/resume.pdf' target="_blank" rel="noopener noreferrer">
                📜 Download My Resume 📜
            </a>
        </div>
    </div>
</div>


{% endblock %}
