{% extends "../layout.html" %}

{% block content %}
<div id="topmargin"></div>
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="row">
    <div class="col-md-4">
        <h3>Topics</h3>
        <div class="panel-group" id="chaptersAccordion">

            {% for key, value in topics_tree.items() %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#chaptersAccordion" href="#chapter{{value[0]}}">{{key}} 🔽 </a>
                    </h4>
                </div>
                <div id="chapter{{value[0]}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>

                            {% for t in value[1] %}
                            {% for k, v in t.items() %}
                            <li><a href="#chapter{{value[0]}}-command{{k}}">{{v}}</a></li>
                            {% endfor %}
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Right Pane: Content and Questionnaire -->
    <div class="col-md-8">

        {% for i in topics_content %}

        <div class="chapter_content">
            <h3 id="chapter{{i['chapter'][0]}}-command{{i['id']}}">{{i['Topic']}}</h3>
            <br />
            <p>{{i['Description']}}</p>
            <ul class="cmd_params">
                {% for o in i["Options"] %}
                {% for k in o %}
                <li><span>{{k}}</span>{{o[k]}}</li>
                {% endfor %}
                {% endfor %}
            </ul>
            <i>👆 to 📑</i>
            <pre><code onclick="copyToClipboard(this.id)" id="chapter{{i['chapter'][0]}}-command{{i['id']}}-code">{{i['Syntax']}}</code></pre>
            <h4 class="code_example">{{i['Example']}}</h4>

        </div>


        {% endfor %}



        <!-- Questionnaire -->
        <div id="Questionnaire">
            <h4>Questionnaire</h4>
            <div>
                <p>Question: What does the Git command do?</p>
                <ul>
                    <li><button class="btn btn-info" onclick="showResult(true)">version control</button></li>
                    <li><button class="btn btn-info" onclick="showResult(false)">deploy</button></li>
                </ul>
                <p id="questionResult"></p>
            </div>
        </div>



    </div>
</div>

{% endblock %}
