{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <center>
        <h1>Hello {{creator}}!<br></h1>
    </center>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="eagerbelow">
            Laugh a Little 😁
        </div>
        <center>
            <div class="word_container">
                <div class="deck">Joke of the day!</div>
                <div class="wordperday">
                    <h2 id="joke_word"></h2>
                    <div id="jokeexplaination">
                    </div>
                </div>
            </div>
        </center>
    </div>
    <div class="col-sm-6">
        <div class="eagerbelow">
            Words of brittle ✍️
        </div>
        <center>
            <div class="word_container">
                <div>
                    <div class="deck">Word of the day!</div>
                    <br/>
                    <input class="searchword" id="search_word" name="search" type="text" value="Welcome">
                    <img alt="search-symbol" id="sb" onclick="findout()" src="static/bg/search.svg"/>
                </div>
                <div class="wordperday">
                    <h2 id="title_word" onclick="playphonetics()">HELLO 🔊</h2>
                    <audio id="phonetics" src=""></audio>
                    <div id="explaination">
                    </div>
                </div>
            </div>
        </center>
    </div>
</div>

{% for topic in course_details %}
<div class="row">
    {% for k in topic.keys() %}
    <div class="col-sm-4 course_icon">
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="{{topic[k]['icon']}}" alt="Course Card image" width="150px">
            <div class="card-body">
                <h5 class="card-title">{{topic[k]['title']}}</h5>
                <p class="card-text">{{topic[k]['description']|safe}}</p>
                <a href="{{topic[k]['content']}}" class="btn btn-primary">Jump to Course</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}

<div class="row">
    <div class="col-sm-12 eagerbelow">
        My GITHUB Repo: <a href="https://github.com/santoshtvk-new/">Daily Dose</a> 💻
    </div>
</div>


{% endblock %}
