{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <center>
        <h1>Hello {{creator}}!<br></h1>
    </center>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="eagerbelow">
            Laugh a Little 😁
        </div>
        <center>
            <div class="word_container">
                <div class="deck">Joke of the day!</div>
                <div class="wordperday">
                    <h2 id="joke_word"></h2>
                    <div id="jokeexplaination">
                    </div>
                </div>
            </div>
        </center>
    </div>
    <div class="col-sm-6">
        <div class="eagerbelow">
            Words to brittle ✍️
        </div>
        <center>
            <div class="word_container">
                <div>
                    <div class="deck">Word of the day!</div>
                    <br/>
                    <input class="searchword" id="search_word" name="search" type="text" value="Welcome">
                    <img alt="search-symbol" id="sb" onclick="findout()" src="static/bg/search.svg"/>
                </div>
                <div class="wordperday">
                    <h2 id="title_word" onclick="playphonetics()">HELLO 🔊</h2>
                    <audio id="phonetics" src=""></audio>
                    <div id="explaination">
                    </div>
                </div>
            </div>
        </center>
    </div>
</div>


<div class="row">
    <div class="col-sm-12 eagerbelow">
        A Language a Day 💻
    </div>
</div>

{% for topic in course_details %}
<div class="row">
    {% for k in topic.keys() %}
    <div class="col-sm-4 course_icon">
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="{{topic[k]['icon']}}" alt="Course Card image" width="150px">
            <div class="card-body">
                <h5 class="card-title">{{topic[k]['title']}}</h5>
                <p class="card-text">{{topic[k]['description']|safe}}</p>
                <a target="_blank" href="{{topic[k]['content']}}" class="btn btn-primary" style="width:100%">Jump to Course</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}

<div class="row" style="margin-top:100px">
    <div class="col-sm-12 eagerbelow">
        Keeps AI Away 🧑‍🦯‍➡️ 🤖
    </div>
</div>

<div class="row">
    <div class="col-sm-4 course_icon">
        <a target="_blank" href="{{app_navigate}}" class="play_links">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="static/bg/api.png" alt="Course Card image" width="250px">
                <div class="card-body">
                    <h5 class="card-title">REST-API Playground</h5>
                    <p class="card-text">The API Playground is a <b>REST API testing environment supporting GET, POST, PATCH, PUT, and DELETE methods</b>. <br>It allows users to <b>experiment with different status codes</b>, data formats, query parameters, and payloads. <br>Each method follows a structured endpoint format with examples for easy testing. <br><b>This playground helps developers understand API</b> responses dynamically. 🚀</p>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}
