<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - py∞</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='content/bootstrap.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='content/site.css')}}" />
    <script src="{{url_for('static', filename='scripts/modernizr-2.6.2.js')}}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Edu+VIC+WA+NT+Beginner:wght@500&family=Handlee&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee%3Aital%2Cwght%400%2C400%3B1%2C400&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="{{url_for('static', filename='bg/l.svg')}}" />

    <link href="https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&family=Loved+by+the+King&family=Pacifico&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3012929005735832" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


</head>

<body style="padding-top: 50px; padding-bottom: 20px; background: #532E00; ">
    <div class="container body-content">

        <div class="row">
            <div class="col-xs-2" id="sidemenucol">

                <div class="sidemenu">
                    <a href="/" class="sticky-title"><img alt="logosvg" src="{{url_for('static', filename='bg/l.svg')}}" /><span id="logoname">Pynfinity</span></a>

                    <ul class="sidemenuitems">

                        <li><a id="aboutmenu" href="{{ url_for('about') }}"><img alt="AboutMe" src="{{url_for('static', filename='bg/about.png')}}"/></li>
                        <li><a id="Experimentmenu" href="{{ url_for('experiment') }}"><img alt="Experiments" src="{{url_for('static', filename='bg/project.svg')}}" /></a></li>
                        <li><a id="learnmenu" href="{{ url_for('home') }}"><img alt="LearnTogether" src="{{url_for('static', filename='bg/home.svg')}}" /></a></li>
                        <li><a id="challengemenu" href="{{ url_for('problems') }}"><img alt="Challenges" src="{{url_for('static', filename='bg/challenge.svg')}}" /></a></li>
                        <li><a id="contactmenu" href="{{ url_for('contact') }}"><img alt="ContactMe" src="{{url_for('static', filename='bg/contact.svg')}}" /></li>
                    </ul>
                </div>

                <hr />
                <footer>
                    <p>&copy; santoshtvk - {{ year }}</p>
                </footer>
            </div>



            {% block content %}{% endblock %}

        </div>
    </div>

    <script src="{{url_for('static', filename='scripts/jquery-1.10.2.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/respond.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/support.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/app.js')}}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
